/* cards */
.card {
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.35);
}

.card img{
  object-fit: cover;
}

.shrink {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
  text-align: justify;
}

.news img {
  width: 60px;
  height: 40px;
}

.msg-box::before {
  content: "→ "!important;
  color: #78bffa;
}

.news a {
  text-decoration: none;
  transition: background 0.2s cubic-bezier(.33,.66,.66,1);
  color: inherit;
}

.news a:hover {
  background: #78bffa;
  color: white;
  animation: push 0.9s linear 1;
}

@keyframes push {
  50%  {transform: scale(0.95);}
}

.author {
  color: #75bffa;
  margin-top: 19px;
  font-size: 20px;
  font-family: sans-serif !important;
}

.author-picture {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  style: float-left;
}

.news-text {
  margin-right: 150px;
  margin-left: 150px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 18px;
}

.author-header {
  display: flex;
}

.profile img {
  display: block;
}

.author-header img {
  margin-right: 10px;
  display: block;
}

.header-title {
  margin-right: 250px;
}

/* menu */

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*border: 1px solid #e7e7e7;*/
  background-color: #f3f3f3;
}

.menu li {
  float: left;
  border-right: 1px solid rgb(148, 148, 148);
}

.menu li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover:not(.active) {
  background-color: #ddd;
}

.menu li:last-of-type {
  border-right: none;
  float: right;
  cursor: pointer;
}

.menu li:last-of-type a{
  background-color: #333;
  color: white;
}

.menu li:last-of-type a:hover:not(.active){
  background-color: #111;
  color: white;
}

.menu li a.active {
  color: white;
  background-color: deepskyblue;
}

/* dropdown menu */
.dropbtn {
  cursor: pointer;
}

.menu .dropdown {
  color: #666;
  position: absolute;
  display: inline-block;
  border: none;
}

.dropdown-content {
  display: none;
  /*position: absolute;*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: white;
  transform-style: preserve-3d;
  transform: translate3d(0,0,10px) !important;
}

.show-spots {
  float: right;
}

.jumbotron {
  margin-bottom: 0;
  display: flex;
  background: url('../assets/site_header/DSC01964.JPG') !important;
  background-size: cover !important;
  width: 100%;
}

.social-media-icon img {
  max-width: 30px;
  max-height: 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.news-cards img {
  max-width: 30px;
  max-height: 30px;
}

.text-white img {
  filter: brightness(70%) !important;
  object-fit: cover !important;
  width: 100%;
  height: 20vw;
}

.form-control {
  max-width: 400px;
}

textarea {
  min-height: 100px;
}

label {
  margin-right: 0.5%;
  margin-left: 0.5%;
}

/* tabela */
.table {
  text-align: center;
}
