.card {
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.35);
}
.card img{
  object-fit: cover;
}

.shrink {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
}

.news img {
  width: 60px;
  height: 40px;
}

.msg-box::before {
  content: "→ "!important;
  color: #78bffa;
}

.news a {
  text-decoration: none;
  transition: background 0.2s cubic-bezier(.33,.66,.66,1);
  color: inherit;
}

.news a:hover {
  background: #78bffa;
  color: white;
  animation: push 0.9s linear 1;
}

@keyframes push {
  50%  {transform: scale(0.95);}
}

.author {
  color: #75bffa;
  margin-top: 19px;
  font-size: 20px;
  font-family: sans-serif !important;
}

.author-picture {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  style: float-left;
}

.news-text {
  margin-right: 150px;
  margin-left: 150px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 18px;
}

.author-header {
  display: flex;
}

.profile img {
  display: block;
}

.author-header img {
  margin-right: 10px;
  display: block;
}

.header-title {
  margin-right: 250px;
}

/* menu */

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*border: 1px solid #e7e7e7;*/
  background-color: #f3f3f3;
}

.menu li {
  float: left;
  border-right: 1px solid rgb(148, 148, 148);
}

.menu li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover:not(.active) {
  background-color: #ddd;
}

.menu li:last-of-type {
  border-right: none;
  float: right;
}

.menu li:last-of-type a{
  background-color: #333;
  color: white;
}

.menu li:last-of-type a:hover:not(.active){
  background-color: #111;
}

.menu li a.active {
  color: white;
  background-color: deepskyblue;
}

.jumbotron {
  margin-bottom: 0;
}

/* About us */

.geral h5 {
  font-family: Georgia, serif;
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.geral h1 {
  font-family: Georgia, serif;
  font-size: 40px;
  color: black;
  font-weight: bold;

}

.geral h2 {
  font-family: Georgia;
  font-size: 20px;
  color: black;

}

.geral div {
  text-align: center;
  max-width: 80rem;

}

.geral p {
  font-family: Garamond, serif;
  font-size: 15px;

}

.geral em {
  font-family: Garamond, serif;
  font-size: 20px;

}

.geral p.none {
  border-style: none;
}

.geral {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.geral a {
  color: black;
}

/* Banner animado */

.banner {
  max-width: 1000px;
  max-height: 400px;
  height: 400px;
  position: relative;
  margin: auto;
}

.banner img {
  max-width: 600px;
}

.banner-slide {
  display: none;
  animation-name: animacao;
  animation-duration: 3.5s;
}

@keyframes animacao {
  from {
      opacity: 0.2;
  }

  to {
      opacity: 1;
  }
}

.show-spots {
  float: right;
}

.jumbotron {
  display: flex;
}