hr {
  border-color: rgba(255, 255, 255, 0.800);
}

.card .card-body{
  background-color: rgb(0, 99, 133);
}

.card {
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.35);
}
.card img {
  object-fit: cover;
}

.btn-outline-primary {
  color: aliceblue;
  border-color: aliceblue;
}

.btn-outline-primary:hover {
  color: rgb(0, 99, 133);
  border-color: aliceblue;
  background-color: aliceblue;
}

.btn-outline-primary:active {
  color: rgb(0, 99, 133)!important;
  border-color: aliceblue!important;
  background-color: aliceblue!important;
  box-shadow: 0 0 10px 0 rgba(240, 248, 255, 0.800)!important;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 10px 0 rgba(240, 248, 255, 0.800);
}

.close {
  color: aliceblue;
}

.close:hover{
  color: white!important;
}

.modal-body {
  background-color: rgb(0, 99, 133);
}

.modal-body a {
  color: #90cbfc;
}

.modal-body .list-group-item {
  border-color: rgba(255, 255, 255, 0.800);
}

.modal-body li {
  background-color: rgb(0, 164, 219);
}

.modal-body li a {
  color: white;
}

.modal-header, .modal-footer {
  background-color: #666;
}

.shrink {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
  color: white;
  text-align: justify;
}

.news img {
  width: 60px;
  height: 40px;
}

.msg-box::before {
  content: "→ "!important;
  color: #78bffa;
}

.news a {
  text-decoration: none;
  transition: background 0.2s cubic-bezier(.33,.66,.66,1);
  color: inherit;
}

.news a:hover {
  background: #78bffa;
  color: white;
  animation: push 0.9s linear 1;
}

@keyframes push {
  50%  {transform: scale(0.95);}
}

.author {
  color: #75bffa;
  margin-top: 19px;
  font-size: 20px;
  font-family: sans-serif !important;
}

.author-picture {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  style: float-left;
}

.news-text {
  margin-right: 150px;
  margin-left: 150px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 18px;
}

.author-header {
  display: flex;
}

.author-header img {
  margin-right: 10px;
  display: block;
}

.header-title {
  margin-right: 250px;
}

/* menu */

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*border: 1px solid #e7e7e7;*/

  background-color: #333;
  /*
  background-color: rgb(0, 99, 133);
  */
}

.menu li {
  float: left;
  border-right: 1px solid rgb(148, 148, 148);
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover:not(.active) {
  background-color: #111;
}

.menu li:last-of-type {
  border-right: none;
  float: right;
}

.menu li:last-of-type a{
  background-color: #f3f3f3;
  color: #666;
}

.menu li:last-of-type a:hover:not(.active){
  background-color: #ddd;
}

.menu li a.active {
  color: white;
  /*
  background-color: deepskyblue;
  */
  background-color: rgb(0, 99, 133);
}

.jumbotron {
  margin-bottom: 0;
}

/* About us */

.geral h5 {
  font-family: Georgia, serif;
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.geral h1 {
  font-family: Georgia, serif;
  font-size: 40px;
  color: black;
  font-weight: bold;

}

.geral h2 {
  font-family: Georgia;
  font-size: 20px;
  color: black;

}

.geral div {
  text-align: center;
  max-width: 80rem;

}

.geral p {
  font-family: Garamond, serif;
  font-size: 15px;

}

.geral em {
  font-family: Garamond, serif;
  font-size: 20px;

}

.geral p.none {
  border-style: none;
}

.geral {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.geral a {
  color: black;
}

/* Banner animado */

.banner {
  max-width: 1000px;
  max-height: 400px;
  height: 400px;
  position: relative;
  margin: auto;
}

.banner img {
  max-width: 600px;
}

.banner-slide {
  display: none;
  animation-name: animacao;
  animation-duration: 3.5s;
}

@keyframes animacao {
  from {
      opacity: 0.2;
  }

  to {
      opacity: 1;
  }
}

.jumbotron .container {
  float: left;
  color: white;
}

.jumbotron {
  display: flex;
  background-color: rgb(88, 88, 88);
}

body {
  background-color: rgb(59, 59, 59);
}

.show-spots {
  float: right;
}

.news a:hover {
  background-color: rgb(0, 99, 133);
}

.show-spots .btn-primary {
  color: aliceblue;
  border-color: rgb(0, 99, 133);
  background-color: rgb(0, 99, 133);
}

.show-spots .btn-primary:hover {
  border-color: rgb(0, 78, 104);
  background-color: rgb(0, 78, 104);
}

.show-spots .btn-primary:focus {
  box-shadow: 0 0 10px 0 rgb(0, 99, 133, 0.800);
}

.show-spots .btn-primary:active {
  border-color: rgb(0, 78, 104)!important;
  background-color: rgb(0, 78, 104)!important;
  box-shadow: 0 0 10px 0 rgba(0, 99, 133, 0.800)!important;
}
/*
.btn-outline-primary {
  color: aliceblue;
  border-color: aliceblue;
}

.btn-outline-primary:hover {
  color: rgb(0, 99, 133);
  border-color: aliceblue;
  background-color: aliceblue;
}

.btn-outline-primary:active {
  color: rgb(0, 99, 133)!important;
  border-color: aliceblue!important;
  background-color: aliceblue!important;
  box-shadow: 0 0 10px 0 rgba(240, 248, 255, 0.800)!important;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 10px 0 rgba(240, 248, 255, 0.800);
}
*/

.social-media-icon img {
  max-width: 30px;
  max-height: 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.news-cards img {
  max-width: 30px;
  max-height: 30px;
}

.text-white img {
  filter: brightness(70%) !important;
  object-fit: cover !important;
  width: 100%;
  height: 20vw;
}
